#container{
    /*
    background-image: url('imagens/espaco.jpg');
    background-size: 100% 100%;
    position: relative;
    margin: auto;
    height: 97vh;
    padding: 10px;
    */

    height: 97vh;
    background: black url('imagens/espaco.jpg') center center no-repeat /*cover*/ fixed;
    background-size: cover;
}

#conteudo{
    background-image: url('imagens/astronauta.png');
    background-size: 100% 100%;
    position: absolute;
    height: 250px;
    width: 450px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}