body{
    height: 100vh;
    /*background-color: black;
    background-image: url('imagem/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /*
        shorthand - Background
        color > image > position > repeat > size** > attachment
    */

    background: black url('imagem/wallpaper002.jpg') center center no-repeat /*cover*/ fixed;
    background-size: cover;
}

main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}